#about {
    background-color: rgba(0, 0, 0, 0.9);
    background-size: cover;
    background-position: center;
    /* width: 100%; */
    width: auto;
    /* min-height: 100vh; */
    /* height: 70vh; */
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 11;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

#about .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 80%;
    margin: 0 auto;
}


#about .about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


#about .about-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    pointer-events: none;
}

#about .text-content {
    max-width: 60%;
    text-align: justify;
    color: #ffebe1;
    font-size: 1rem;
    line-height: 1.5;
}

#about h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.0rem;
    margin-bottom: 30px;
    margin-left: 180px;
    color: #ff4d5a;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
}

#about p {
    font-size: 1.rem;
    color: #ffebe1;
    text-align: justify;
    margin-bottom: 20px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 190px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

/* TODO different resolution needs to be added */
@media screen and (max-width: 1000px) {
    #about .about-container {
        margin-left: 5%;
        margin-right: 5%;
    }

    #about .about-content {
        flex-direction: column;
        align-items: center;
    }

    #about .about-image {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100px;
        height: 100px;
    }

    #about .text-content {
        max-width: 90%;
        text-align: center;
        font-size: 0.9rem;
    }

    #about h1 {
        font-size: 1.5rem;
        margin-left: 0px;
    }

    #about p {
        font-size: 0.75rem;
        margin-bottom: 5px;
    }
}

.quote-container {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    text-align: justify;
    flex-wrap: nowrap;
    margin: 20px auto;
    padding: 20px;
    width: 100%;
    max-width: 80%;
    gap: 20px;
    box-sizing: border-box;
}

.quote-container .big-comma {
    font-size: 3rem;
    color: #ff4d5a;
    font-family: 'Georgia', serif;
    line-height: 1;
    margin: 0;
}

.quote-container .quote-text {
    font-size: 1.2rem;
    font-style: italic;
    color: #e4dcd1;
    font-family: 'Playfair Display', serif;
    margin: 0;
    line-height: 1.6;
    white-space: nowrap;
}

.quote-container .quote-content {
    font-size: 1.5rem;
    display: inline-block;
}

.quote-container .quote-author {
    font-size: 1rem;
    color: #aaa9a7;
    font-family: 'Arial', sans-serif;
    margin-top: 10px;
    white-space: nowrap;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .quote-container .big-comma {
        font-size: 1.5rem;
    }

    .quote-container .quote-text {
        font-size: 0.75rem;
    }

    .quote-container .quote-author {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 1000px) {
    .about-container .quote-text {
        font-size: 1.0em;
        line-height: 1.5;
    }

    .about-container .quote-content {
        font-size: 1.0em;
    }

    .about-container .big-comma {
        font-size: 40px;
    }

}