#projects {
    background-color: rgba(0, 0, 0, 0.9);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
}

#projects .row {
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding: 0 10%;
    gap: 20px;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    #projects .row {
        display: flex;
        flex-direction: column;
        padding: 0 5%;
        gap: 10px;
    }
}

#projects .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
}

#projects .title h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.0rem;
    margin-bottom: 30px;
    color: #ff4d5a;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@media screen and (max-width: 768px) {
    #projects .title h1 {
        font-size: 1.5rem;
    }
}

#projects .title h2 {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #ff4d5a;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    #projects .title h2 {
        font-size: 1rem;
    }
}

#projects p {
    font-size: 1rem;
    color: #ffebe1;
    text-align: justify;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

@media screen and (max-width: 768px) {
    #projects p {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 0.75rem;
    }

}

.text {
    font-size: 1rem;
    color: #ffebe1;
    text-align: justify;
    width: 100%;
    margin: 0 auto;
    display: block;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@media screen and (max-width: 768px) {
    .text {
        font-size: 0.75rem;
    }

}

.text h2 {
    font-size: 1.4rem;
    margin-bottom: 30px;
    color: #ff4d5a;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .text h2 {
        font-size: 1rem;
    }

}

.text ul {
    margin-top: 10px;
    margin-left: 10%;
    padding-left: 20px;
    list-style-type: disc;
}

@media screen and (max-width: 768px) {
    .text ul {
        margin-left: 5%;
        padding-left: 15px;
    }
}


.text ul li {
    margin-bottom: 8px;
    text-align: justify;
}

.text p {
    margin-bottom: 20px;
}

.image {
    display: flex;
    justify-content: center;
    position: relative;
    pointer-events: none;
    /* todo check later */
    /* display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 250px; */
}

.text-left,
.text-right {
    padding-right: 20px;
    text-align: justify;
    text-align: justify;
    width: 100%;
    margin: 0 auto;
    display: block;
}

@media screen and (max-width: 768px) {

    .text-left,
    .text-right {
        padding-right: 0;
    }

}



.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    /* text-fill-color: transparent; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 190px;
    text-align: center;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.image img {
    max-width: 80%;
    height: auto;
    position: relative;
}

.drone-image {
    width: 80px;
    animation: flyInZone 7s linear infinite;
    position: absolute;
}

.robot-image {
    width: 100px;
    animation: moveWithinGrid 10s linear infinite;
    position: absolute;
}

.forklift-image {
    width: 150px;
    animation: moveWithinGridForklift 10s linear infinite;
    position: absolute;
}

.static-image {
    width: 100%;
    height: auto;
    position: relative;
}

.path-planning-image {
    width: 50%;
    height: auto;
}

.building-image {
    width: 900px;
    height: auto;
}

.slam-image {
    width: 50%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .static-image {
        width: 80%;
        height: auto;
        position: relative;
    }

    .drone-image {
        width: 50px;
        animation: flyInZone 7s linear infinite;
        position: absolute;
    }

    .robot-image {
        width: 70px;
        animation: moveWithinGrid 5s linear infinite;
        position: absolute;
    }

    .forklift-image {
        width: 70px;
        animation: moveWithinGridForklift 5s linear infinite;
        position: absolute;
    }

    .path-planning-image {
        width: 200px;
        height: auto;
    }

    .building-image {
        width: 700px;
        height: auto;
    }

    .slam-image {
        width: 200px;
        height: auto;
    }
}

@keyframes flyInZone {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(20px, -20px);
    }

    50% {
        transform: translate(-20px, -40px);
    }

    75% {
        transform: translate(-20px, 20px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes moveWithinGrid {
    0% {
        left: -250px;
        transform: scaleX(1);
    }

    50% {
        left: calc(100% - 450px);
        transform: scaleX(1);
    }

    51% {
        transform: scaleX(-1);
    }

    100% {
        left: -250px;
        transform: scaleX(-1);
    }
}

@keyframes moveWithinGridForklift {
    0% {
        left: calc(100% - 450px);
        transform: scaleX(-1);
    }

    50% {
        left: -250px;
        transform: scaleX(-1);
    }

    51% {
        transform: scaleX(1);
    }

    100% {
        left: calc(100% - 450px);
        transform: scaleX(1);
    }
}


@media screen and (max-width: 768px) {
    .drone-image {
        animation: flyInZoneSmall 3s linear infinite;
    }

    .robot-image {
        animation: moveWithinGridSmall 5s linear infinite;
    }

    @keyframes flyInZoneSmall {
        0% {
            transform: translate(0, 0);
        }

        25% {
            transform: translate(10px, -10px);
        }

        50% {
            transform: translate(-10px, -20px);
        }

        75% {
            transform: translate(-10px, 10px);
        }

        100% {
            transform: translate(0, 0);
        }
    }

    @keyframes moveWithinGridSmall {
        0% {
            left: -120px;
            transform: scaleX(1);
        }

        50% {
            left: calc(100% - 250px);
            transform: scaleX(1);
        }

        51% {
            transform: scaleX(-1);
        }

        100% {
            left: -120px;
            transform: scaleX(-1);
        }
    }
}

@media screen and (max-width: 768px) {
    #projects .row {
        grid-template-columns: 1fr;
        padding: 0 5%;
        gap: 10px;
    }

    .image,
    .text {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {

    .image,
    .text {
        text-align: center;
    }

    .title {
        order: -1;
    }

    .image {
        order: 1;
    }

    .text {
        order: 2;
    }
}