#projects {
    background-image: url('./../bg/bg-dark.png');
    background-color: rgba(0, 0, 0, 0.9);
    background-size: cover;
    background-position: center;
    padding: 50px 0;
}

#projects .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Create two equal columns */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding: 0 10%;
    /* Add padding on both sides */
    gap: 20px;
    /* Add space between columns */
    position: relative;
    overflow: hidden;
    /* Ensure content doesn't overflow */
}


#projects .title h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #ff4d5a;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
}

#projects .title h2 {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #ff4d5a;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
}

#projects p {
    font-size: 1rem;
    color: #ffebe1;
    text-align: justify;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.text {
    font-size: 1rem;
    color: #ffebe1;
    text-align: justify;
    width: 100%;
    margin: 0 auto;
    display: block;
}


.text h2 {
    font-size: 1.4rem;
    margin-bottom: 30px;
    color: #ff4d5a;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
}

.image {
    display: flex;
    justify-content: center;
    position: relative;
    /* todo check later */
    /* display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 250px; */
}

.image img {
    max-width: 80%;
    /* Adjust size within container */
    height: auto;
    position: relative;
}

/* Padding between text and image columns */
.text-left,
.text-right {
    padding-right: 20px;
    text-align: justify;
    text-align: justify;
    width: 100%;
    margin: 0 auto;
    display: block;
    /* Adjust padding between the two columns */
}


.drone-image {
    width: 80px;
    animation: flyInZone 7s linear infinite;
    position: absolute;
}

.robot-image {
    width: 150px;
    animation: moveWithinGrid 5s linear infinite;
    position: absolute;
}

.static-image {
    width: 100%;
    height: auto;
    position: relative;
    /* position: absolute; */
}

.path-planning-image {
    width: 250px;
    /* Reduce size of path planning image */
    height: auto;
    /* Maintain aspect ratio */
}

/* Confine the drone's animation within the row's boundaries */
@keyframes flyInZone {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(20px, -20px);
    }

    50% {
        transform: translate(-20px, -40px);
    }

    75% {
        transform: translate(-20px, 20px);
    }

    100% {
        transform: translate(0, 0);
    }
}

/* Confine the robot movement within the grid, no overflow */
@keyframes moveWithinGrid {
    0% {
        left: -350px;
        /* Start off the screen */
        transform: scaleX(1);
        /* Facing right */
    }

    50% {
        left: calc(100% - 450px);
        /* Reaches the right end */
        transform: scaleX(1);
        /* Facing right */
    }

    51% {
        transform: scaleX(-1);
        /* Flip horizontally (start facing left) */
    }

    100% {
        left: -350px;
        /* Move back to the left */
        transform: scaleX(-1);
        /* Facing left */
    }
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
    #projects .row {
        grid-template-columns: 1fr;
        /* Stack columns vertically */
        padding: 0 5%;
        gap: 10px;
    }

    .image,
    .text {
        text-align: center;
        /* Center text and images */
    }
}