/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Fixed Header */
header {
    position: fixed;
    width: 100%;
    background: transparent;
    /* background: rgba(0, 0, 0, 0.7); */
    padding: 20px 0;
    z-index: 1000;
    transition: background 0.3s ease;
}

header.scrolled {
    background: transparent;
}

/* Full-Screen Sections */
section {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    color: rgba(0, 0, 0, 0.9);
}

.parallax {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


#blogs {
    background-image: url('./../bg/bg-dark.png');
    background-color: rgba(0, 0, 0, 0.5);
}

.content {
    z-index: 3;
    font-size: 2rem;
    color: #fff;
}

footer {
    background: rgba(0, 0, 0, 0.9);
    color: #ffebe1;
    text-align: center;
    padding: 20px 10px;
    font-size: 0.75rem;
}

footer p {
    margin: 10px 0;
}

footer .social-icons {
    margin-top: 10px;
}

footer .social-icons a {
    margin: 0 10px;
    display: inline-block;
}

footer .social-icons img {
    width: 25px;
    height: 25px;
    transition: transform 0.3s ease;
}

footer .social-icons img:hover {
    transform: scale(1.4);
}


/* For the SVG arrow */

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
        /* Start at original position */
    }

    40% {
        transform: translateY(10px);
        /* Move down 10px */
    }

    60% {
        transform: translateY(5px);
        /* Move back up slightly */
    }
}


#main-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    padding: 10px 0;
    display: none;
}

#main-header.scrolled {
    display: block;
}

#main-header ul {
    display: flex;
    justify-content: center;
}

.scroll-down {
    position: absolute;
    bottom: 30px;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    font-size: 3rem;
    color: #ff4d5a;
    animation: bounce 2s infinite;
    cursor: pointer;
}

.scroll-down svg {
    animation: bounce 2s infinite;
    cursor: pointer;
    width: 90px;
    height: 90px;
}

@media (max-width: 768px) {
    .scroll-down {
        width: 80px;
        height: 80px;
    }

    .scroll-down svg {
        width: 60px;
        height: 60px;
    }
}

/* @media (max-width: 480px) {
    .scroll-down {
        width: 60px;
        height: 60px;
    }

    .scroll-down svg {
        width: 30px;
        height: 30px;
    }
} */

.back-to-top {
    margin-top: 15px;
}

.back-to-top a {
    display: inline-block;
    background: #444;
    /* Dark gray background */
    border-radius: 50%;
    /* Make it circular */
    padding: 10px;
    transition: background 0.3s ease, transform 0.3s ease;
}

.back-to-top a:hover {
    background: #ff4d5a;
    /* Highlight color on hover */
    transform: scale(1.2);
    /* Enlarge slightly */
}

.back-to-top svg {
    width: 30px;
    height: 30px;
    fill: white;
    /* White color for the arrow */
}