/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Fixed Header */
header {
    position: fixed;
    width: 100%;
    background: transparent;
    /* background: rgba(0, 0, 0, 0.7); */
    padding: 20px 0;
    z-index: 1000;
    transition: background 0.3s ease;
}

header.scrolled {
    background: transparent;
}

/* Full-Screen Sections */
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    color: white;
}

.parallax {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


#blogs {
    background-image: url('./../bg/bg-dark.png');
    background-color: rgba(0, 0, 0, 0.5);
}

.content {
    z-index: 3;
    font-size: 2rem;
    color: #fff;
}

footer {
    padding: 20px;
    text-align: center;
    background: #333;
    color: white;
}

.scroll-down {
    position: absolute;
    bottom: 30px; /* Adjust the distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem; /* For Unicode arrow, use font size */
    color: #ff4d5a;
    animation: bounce 2s infinite; /* Apply animation */
    cursor: pointer; /* Pointer cursor on hover */
}

/* For the SVG arrow */
.scroll-down svg {
    animation: bounce 2s infinite;
    cursor: pointer;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0); /* Start at original position */
    }
    40% {
        transform: translateY(10px); /* Move down 10px */
    }
    60% {
        transform: translateY(5px); /* Move back up slightly */
    }
}


#main-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust transparency */
    z-index: 1000;
    padding: 10px 0;
    display: none; /* Initially hidden */
}

#main-header.scrolled {
    display: block; /* Make header visible after scrolling */
}

#main-header ul {
    display: flex;
    justify-content: center;
}